In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[['charges']]

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features': ['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

C:\Users\WELCOME\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   31.0s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   38.5s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [10]:
re=grid.cv_results_
print('The R_score value for best parameter{}:'.format(grid.best_params_))

The R_score value for best parameter{'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'random'}:

In [11]:
table=pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000000,0.000000e+00,0.005209,7.366707e-03,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.700409,0.656410,0.704259,0.687026,0.021706,7
1,0.000000,0.000000e+00,0.000000,0.000000e+00,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.696930,0.705246,0.699762,0.700646,0.003452,3
2,0.010418,7.366370e-03,0.000000,0.000000e+00,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.599924,0.642391,0.734586,0.658967,0.056211,11
3,0.000000,0.000000e+00,0.000000,0.000000e+00,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.623168,0.662110,0.678777,0.654685,0.023301,12
4,0.005208,7.365471e-03,0.000000,0.000000e+00,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.500120,0.688173,0.696911,0.628401,0.090779,16
5,0.000000,0.000000e+00,0.000000,0.000000e+00,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.632683,0.673534,0.636550,0.647589,0.018414,14
6,0.104164,7.366089e-03,0.005208,7.365808e-03,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.675560,0.728309,0.682015,0.695295,0.023493,4
7,0.052080,2.946250e-02,0.005208,7.365358e-03,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.635140,0.720811,0.710382,0.688778,0.038165,6
8,0.046873,3.375202e-02,0.000000,0.000000e+00,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.599507,0.654865,0.731162,0.661845,0.053974,10
9,0.020834,7.364909e-03,0.005208,7.365696e-03,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.632577,0.591025,0.670794,0.631465,0.032575,15
10,0.015626,9.199649e-07,0.015624,9.602742e-07,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.653257,0.656818,0.653565,0.654547,0.001611,13
11,0.026041,7.365077e-03,0.000000,0.000000e+00,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.681912,0.690170,0.682202,0.684761,0.003826,8
12,0.005209,7.366707e-03,0.000000,0.000000e+00,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.712015,0.661210,0.699295,0.690840,0.021585,5
13,0.010418,7.366651e-03,0.000000,0.000000e+00,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.691198,0.698073,0.731099,0.706790,0.017416,1
14,0.005209,7.366932e-03,0.000000,0.000000e+00,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.707380,0.611434,0.732988,0.683934,0.052320,9
15,0.005209,7.366033e-03,0.000000,0.000000e+00,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.607543,0.559856,0.654109,0.607169,0.038479,17
16,0.005209,7.366370e-03,0.000000,0.000000e+00,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.701513,0.743880,0.669699,0.705031,0.030386,2
17,0.000000,0.000000e+00,0.010418,7.366314e-03,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.440999,0.648735,0.706356,0.598696,0.113963,18

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:45
BMI:35
Children:3
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[8527.532]